<div>
  <div class="chart-container">
    <div>
      <app-scatter-chart
        *ngIf="
          ((chartType$ | async) === 'scatter')
          && (buyDatasets$ | async)
          && (axesMetrics$ | async)?.xAxisMetric
          && (axesMetrics$ | async)?.yAxisMetric
          && (country$ | async)
          && (options$ | async)"
        [datasets]="buyDatasets$ | async"
        [activeCities]="activeCities$ | async"
        [lastAddedCity]="lastAddedCity$ | async"
        [lastRemovedCity]="lastRemovedCity$ | async"
        [xAxisMetric]="(axesMetrics$ | async)?.xAxisMetric"
        [yAxisMetric]="(axesMetrics$ | async)?.yAxisMetric"
        [title]="'Buy'"
        [country]="country$ | async"
        [options]="options$ | async">
      </app-scatter-chart>
    </div>
    <div>
      <app-scatter-chart
        *ngIf="
          ((chartType$ | async) === 'scatter')
          && (rentDatasets$ | async)
          && (axesMetrics$ | async)?.xAxisMetric
          && (axesMetrics$ | async)?.yAxisMetric
          && (country$ | async)
          && (options$ | async)"
        [datasets]="rentDatasets$ | async"
        [activeCities]="activeCities$ | async"
        [lastAddedCity]="lastAddedCity$ | async"
        [lastRemovedCity]="lastRemovedCity$ | async"
        [xAxisMetric]="(axesMetrics$ | async)?.xAxisMetric"
        [yAxisMetric]="(axesMetrics$ | async)?.yAxisMetric"
        [title]="'Rent'"
        [country]="country$ | async"
        [options]="options$ | async">
      </app-scatter-chart>
    </div>
  </div>
  <br>
  <table>
    <tr>
      <th>City</th>
      <th>Average Buy Price / m²</th>
      <th>Average Rent Price / m²</th>
      <th>Average Price for 25m²</th>
      <th>Mortgage 25m²</th>
      <th>Average Rental 25m²</th>
      <th>Average Difference</th>
      <th>Minimum Price / m²</th>
      <th>Max Total price 25m²</th>
    </tr>
    <tr *ngFor="let city of (activeCities$ | async)">
      <td>{{ city.city }}</td>
      <td>{{ city.averageBuyPriceBySurfaceArea | currency:'EUR' }}</td>
      <td>{{ city.averageRentPriceBySurfaceArea | currency:'EUR' }}</td>
      <td>{{ city.totalBuyPrice | currency:'EUR' }}</td>
      <td>{{ city.monthlyBuyEstimation | currency:'EUR' }}</td>
      <td [ngClass]="{
        'positive': isPositiveIncome(city.monthlyBuyEstimation, city.monthlyRentEstimation),
        'negative': !isPositiveIncome(city.monthlyBuyEstimation, city.monthlyRentEstimation)
      }">{{ city.monthlyRentEstimation | currency:'EUR' }}</td>
      <td [ngClass]="{
        'positive': isPositiveIncome(city.monthlyBuyEstimation, city.monthlyRentEstimation),
        'negative': !isPositiveIncome(city.monthlyBuyEstimation, city.monthlyRentEstimation)
      }">{{ city.monthlyDifference | currency:'EUR' }}</td>
      <td class="positive">{{ city.minimumPrice | currency:'EUR' }}</td>
      <td class="positive">{{ city.minimumPrice * 25 | currency:'EUR' }}</td>
    </tr>
  </table>
</div>