<div>
  <div>
    <app-scatter-chart
      *ngIf="
        ((chartType$ | async) === 'scatter')
        && (buyDatasets$ | async)
        && (axesMetrics$ | async)?.xAxisMetric
        && (axesMetrics$ | async)?.yAxisMetric
        && (country$ | async)
        && (options$ | async)"
      [datasets]="buyDatasets$ | async"
      [activeCities]="activeCities$ | async"
      [lastAddedCity]="lastAddedCity$ | async"
      [lastRemovedCity]="lastRemovedCity$ | async"
      [xAxisMetric]="(axesMetrics$ | async)?.xAxisMetric"
      [yAxisMetric]="(axesMetrics$ | async)?.yAxisMetric"
      [title]="'Buy'"
      [country]="country$ | async"
      [options]="options$ | async">
    </app-scatter-chart>
  </div>
  <div>
    <app-scatter-chart
      *ngIf="
        ((chartType$ | async) === 'scatter')
        && (rentDatasets$ | async)
        && (axesMetrics$ | async)?.xAxisMetric
        && (axesMetrics$ | async)?.yAxisMetric
        && (country$ | async)
        && (options$ | async)"
      [datasets]="rentDatasets$ | async"
      [activeCities]="activeCities$ | async"
      [lastAddedCity]="lastAddedCity$ | async"
      [lastRemovedCity]="lastRemovedCity$ | async"
      [xAxisMetric]="(axesMetrics$ | async)?.xAxisMetric"
      [yAxisMetric]="(axesMetrics$ | async)?.yAxisMetric"
      [title]="'Rent'"
      [country]="country$ | async"
      [options]="options$ | async">
    </app-scatter-chart>
  </div>
</div>